head
  title Tap into CMA
  link(rel="icon" type="image/png" href="//s3.amazonaws.com/tap-cma/favicon.png")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
  script(src="//use.typekit.net/rvk0pii.js")
  script try{Typekit.load();}catch(e){}
