.media-image
  position relative
  min-width 100%
  border-radius 4px
  background $m-gray
  img
    width auto
    max-width 100%
    border 1px solid $ll-gray

.media-options
  position absolute
  top 50%
  left 50%
  width 100%
  transform translate(-50%, -50%)
  display none
  text-align center
  z-index 100000
  a
    display inline-block
    vertical-align middle
    padding 0 20px
    color white
    font-size 4em
    &:hover
      color $primary
  .delete-image
    margin-top -10px

.media-video-container
  margin 30px -30px 40px -30px

.media-video
  min-width 100%
  border 0

.video
.media-image
  position relative
  +below(3)
    margin-bottom 20px
  &:hover
    .curtain
    .media-options
      display block
      opacity 1
      visibility visible
  .curtain
    z-index 10

.video
  .curtain
    background linear-gradient(to bottom, rgba(0,0,0,.6) 0%, rgba(0,0,0,0.6) 83%, rgba(0,0,0,0) 100%)
    bottom 10%
    left 15px
    right 15px
