body
ul
  margin 0
  padding 0

html
body
  height 100%

body
  font-family inherit
  +tablet()
    font-size 120%

.container-fluid
  padding 1em 3%

.page-wrap
  min-height "calc(100% - %s)" % $header-height-tablet
  margin-top $header-height-tablet
  margin-bottom $footer-height * 2
  position relative
  &.mobile
    position absolute
    height 100%
    top 0
    bottom 0
    right 0
    left 0
    overflow-y scroll
    -webkit-overflow-scrolling touch
  +above(4)
    min-height "calc(100% - %s)" % $header-height
    margin-top $header-height
  &.menu-open
    padding-top $header-height-tablet
    &:not(.mobile)
      +above(4)
        padding-top $header-height

a
  &:focus
    text-decoration none

.tap-list
  margin-bottom 30px
  list-style-type none
  border-bottom 2px solid $primary
  > li
    align-items center
    position relative
    border-bottom 1px solid lighten($m-gray, 30%)
    &:last-of-type
      border 0
  a
    display flex
    align-items center
    color $body-text
    padding 10px 10% 10px 3%
    transition .2s
    &:active
    &:hover
      background lighten($m-gray, 90%)
      text-decoration none
      transition .2s
    &:active
      background lighten($m-gray, 80%)
    &::after
      position absolute
      right 3%
      top 50%
      transform translate(0, -50%)
      @extend .font-awesome
      content '\f105'
      color darken($ll-gray, 15%)
      font-size 1.5em

.tap-list-title
  h2
    margin 0
    font-size 1em
    font-weight 600
    letter-spacing .02em
    font-family $body-font
  span
    font-size .9em
    display block
    font-weight 400
    font-style italic
  .dates
    margin-top 0
    padding 0
    font-size 75%
    color darken($m-gray, 20%)


.main-title-wrap
  position relative
  width 100%
  padding 20px 3% 10px 3%
  border-bottom 2px solid darken($ll-gray, 10%)
  h1
    display inline-block
    vertical-align middle
    margin-bottom 0
    line-height .8em
    text-transform uppercase
  &.tour-title
    position absolute
    justify-content center
    bottom 0
    padding 10px 3% 5px 3%
    text-align center
    background-color rgba(230,230,230,0.85)
    border-bottom 0
    .main-title
      padding 0
      vertical-align middle
      font-weight normal
    .sub-title
      display block
      font-size .7em

.goto-stop-wrap
  margin 20px 0
  +desktop()
    display none

.goto-stop
  input
  button
    height 45px
    padding 0 10px
    text-align center
    margin-bottom 10px
    font-size 1.4em
    &[type=submit]
    &[type=number]
      +below(2)
        margin-bottom 10px

.goto-stop-btn
  background-color desaturate(lighten($confirm,8%),10%)
  &[disabled]
    &
    &:hover
    &:active
    &:focus
      border-color darken(@background-color, 20%)
      color darken(@background-color, 40%)
      background $m-gray

.stopNumber-wrap
  +above(4)
    padding-right 0
.goto-stop-btn-wrap
  +above(4)
    paddin-left 0

.curtain
  cover()
  background rgba(0,0,0,.6)
  content ''
  z-index 100
  transition 1s
  opacity 0
  visibility hidden
  &.down
    opacity .6
    visibility visible
    +above(4)
      opacity 0
      visibility hidden

.veil
  cover()
  background alpha(white, 90%)
