.loading
  position fixed
  top 50%
  left 50%
  transform translate(-50%, -50%)
  height 170px
  width 125px
  &.contained
    position absolute
  &:before
    content '\f1ce'
    position absolute
    font-size 8em
    color $secondary
    animation spinner 1.2s ease-in-out infinite
    @extend .font-awesome

@keyframes spinner {
  0% {
    transform rotate(0deg)
  }
  100% {
    transform rotate(360deg)
  }
}
