centerVertically()
  position absolute
  top 50%
  transform translate(0, -50%)

header-font()
  font-family $header-font

body-font()
  font-family $body-font

icon-font()
  font-family 'FontAwesome'

cover()
  position absolute
  top 0
  bottom 0
  left 0
  right 0
