.stop-title
  font-weight 600
  font-size 1em
  letter-spacing .02em

.tour-stop
  h1
    background $ll-gray
    border-bottom 2px solid darken($ll-gray, 10%)
    padding 15px 3% 5px 3%
    color $body-text
    line-height 100%
    margin 0 0 10px 0
    +above(5)
      margin 0 0 20px 0
    display flex
    &.single-title
      padding-top 20px
    .stopNumber
      margin-right .25em
      color $primary
      font-weight 400

.child-stop
  +above(5)
    margin-bottom 20px
  &:last-of-type
    margin-bottom 40px
  &:first-of-type
    .child-stop-info
      padding-top 15px

.child-stop-title
  font-family $body-font
  > span
    display flex
    align-items baseline
    font-size .7em
    line-height 1em
    color $body-text
    border-top-right-radius 3px
    border-bottom-right-radius 3px
    margin-left -4%
    padding 0 10px 0 4%
    +above(5)
      padding 0 10px 0 22%
  span
    font-style normal
    font-weight 600
    &.child-stop-number
      margin-right .35em
      font-weight 700
      color $primary


.child-stop-info
  padding 25px 3% 5px 3%
  h2
    line-height 100%
    margin 0

.child-stop-subTitle
  margin 0
  color $d-gray
  +tablet()
    font-size .8em
  +above(5)
    padding 3px 3% 8px 18%
  &.single
    background darken($ll-gray, 10%)
    padding 3px 3% 8px 3%

.stop-nav
  margin-top 20px
  margin-bottom 50px
  border-top 4px solid darken($primary, 20%)
  > div
    padding 0
  div
    &:first-of-type
      border-right 1px solid darken($primary, 20%)
    &:last-of-type
      border-left 1px solid darken($primary, 20%)

.stop-nav-button
  display block
  padding 15px
  text-align center
  color white
  background $primary
  transition .2s ease-in-out
  text-shadow 0 1px 0 alpha($primary-dark, 50%)
  &:hover
    color white
    text-decoration none
  &:active
    background $primary-dark
    color white
  &[disabled]
    background desaturate(lighten($primary, 30%),20%)
    color lighten(@background, 65%)
    cursor not-allowed
  span
  i
    vertical-align middle
  i
    font-size 150%
    padding 0 4px
