.stop-title
  font-weight 600
  font-size 1.1em
  letter-spacing .02em

.group-title
  margin 0

.tour-stop
  .tour-stop--info
    display flex
    flex-direction row
    padding 15px 3% 0 3%
    background $ll-gray
    border-bottom 2px solid $l-gray
    &.group
      margin-bottom 1em
    +above(5)
      padding-left 20%
    span
      @extend h1
      color $primary
      line-height 1
      margin-right .2em
      font-weight 400
  .tour-stop--info--title
    flex 1
    h1
      line-height 100%
      color $body-text
      margin 0
  &:active
    .stop-number
      background $primary
      color white
  &:nth-of-type(odd)
    .stop-number
      -webkit-clip-path polygon(0 0, 100% 0%, 100% 100%, 15% 100%)
      clip-path polygon(0 0, 100% 0%, 100% 100%, 15% 100%)
  &:nth-of-type(even)
    .stop-number
      -webkit-clip-path polygon(15% 0, 100% 0%, 100% 100%, 0 100%)
      clip-path polygon(15% 0, 100% 0%, 100% 100%, 0 100%)

.child-stop
  margin-bottom 1.45em
  +above(5)
    margin-bottom 20px
  &:last-of-type
    margin-bottom 40px

.child-stop-info
  padding 0 3% .5em 3%
  color $body-text
  +above(5)
    padding 0 10px 0 20%

.child-stop-number
.child-stop-title
  font-family $body-font
  font-style normal

.child-stop-number
  font-size 1.3em
  margin-right .35em
  font-weight 700
  color $primary

.child-stop-titles-wrap
  flex 1 auto

.child-stop-title
  font-size 1.2em
  font-weight 600
  margin 0 0 .1em 0

.child-stop-subTitle
  margin 0
  color $d-gray
  font-size 95%
  font-weight 300
  padding-right 2%
  +tablet()
    font-size .8em
  +above(5)
    padding 3px 0 10px 0
  &.single
    padding 3px 0 15px 0
    background $ll-gray

$stop-nav-border-color = darken($primary, 20%)

.stop-nav
  position fixed
  bottom 0
  display flex
  width 100%
  border-top 1px solid $stop-nav-border-color
  .current-stop-number
    font-weight 800
    font-size 1.5em
    position absolute
    top 50%
    left 50%
    transform translate(-50%,-50%)
    padding 0 1em
    border-radius 4px
    color white
    background alpha($stop-nav-border-color, 95%)
    text-align center
  > div
    padding 0
  a
    &:first-of-type
      border-right 1px solid $stop-nav-border-color
      justify-content flex-start
    &:last-of-type
      border-left 1px solid $stop-nav-border-color
      justify-content flex-end
    span
      &:first-of-type
        padding-right .25em
        font-weight 600
        color white
      &:last-of-type
        display none
        +above(4)
          display block


.stop-nav-button
  flex 1 1 50%
  display flex
  align-items center
  padding .85em 1em
  color lighten($primary, 80%)
  background $primary
  transition .2s ease-in-out
  font-size .85em
  +above(5)
    padding 1em
  &:hover
  &:focus
  &:hover:focus
    color white
    text-decoration none
    background darken($primary, 10%)
  &:active
    background $primary-dark
    color white
  &[disabled]
    background desaturate(lighten($primary, 30%),20%)
    color lighten(@background, 65%)
    cursor not-allowed
  span
    margin 0
  span
  i
    line-height 1
  i
    font-size 150%
    padding 0 4px
