$stop-info-color = darken($m-gray, 5%)

.tour-image
  position relative
  min-height 200px
  width 100%
  background-size cover
  background-position center center
  +above(2)
    min-height 300px

.seperator
  margin 0 2px
  color $stop-info-color

.stop-type
  display flex
  flex-direction row
  align-items center

.stop-info
  display flex
  flex-direction column

.stop-group-info
  margin-right 8px

.tour-stops
  border-top 2px solid $primary
  a
    flex-direction row
    align-items center
  .group
  .group-count
    color darken($stop-info-color, 10%)
    font-size 95%
  .stop-number
    font-weight 700
    color $dd-gray
    margin-right .5em
    font-size 1.25em
    background darken($ll-gray, 2%)
    padding 8px 10px 8px 15px
    border-radius 3px

.group-count
  margin-left 3px

$types = {
  '1' : 'a'
  '2' : 'v'
  '3' : 'p'
  '4' : 'm'
  '5' : 'l'
}

.media-types
  li
    &:not(:last-of-type)
      margin-right 5px
    &::before
      font-family 'icons'
      font-size 90%
      content ''
      color $stop-info-color
      line-height 0
      -webkit-font-smoothing antialiased
  for $type, $code in $types
    .type-{$type}
      &::before
        content $code

.media-details
  &:first-of-type
    margin-bottom 20px
  .media-preview
    margin-top 5px
    margin-bottom 0
