body
ul
  margin 0
  padding 0

body
  font-family inherit

a
  &:focus
    text-decoration none

.main-content
  padding 50px 0

video
img
  display block
  width 100%
  margin 0
  border-bottom 2px solid #888
  +above(3)
    width 60%
    margin 0 auto

.img-wrap
.video-wrap
  background-color black

.tap-list
  margin-bottom 30px
  list-style-type none
  border-top 2px solid $primary
  border-bottom 2px solid $primary
  > li
    position relative
    border-bottom 1px solid lighten($secondary, 30%)
    &:last-of-type
      border 0
  a
    display block
    color $body-text
    padding 10px 7% 10px 3%
    transition .2s
    &:hover
      background lighten($secondary, 90%)
      text-decoration none
      transition .2s
    &::after
      position absolute
      right 10px
      top 50%
      transform translate(0, -50%)
      @extend .font-awesome
      content '\f054'
      color darken($l-gray, 15%)

.tap-list-title
  margin 0
  font-size 1.3em
  font-weight bold
  letter-spacing .02em
  font-family $body-font
  span
    font-size 16px
    display block
    font-weight 400

.main-title-wrap
  position relative
  padding 10px 3% 0 3%
  background $secondary

.main-title
  margin 0
  font-weight normal
  &.tour-title
    text-align center
    padding .3em 1em

.goto-stop-wrap
  margin 20px 0
  +desktop()
    display none

.goto-stop
  input
    height 45px
    padding 0 10px
    text-align center
    margin-bottom 10px
    font-size 1.4em
    &[type=submit]
      background-color desaturate(lighten($confirm,8%),10%)

.goto-stop-btn
  &[type=submit]
    &[disabled]
      background-color $m-gray
      border-color darken(@background-color, 20%)
      color darken(@background-color, 40%)

.stopNumber-wrap
  +above(3)
    padding-right 0
.goto-stop-btn-wrap
  +above(3)
    paddin-left 0

.btn
  padding 6px 25px
  .fa
    margin-right 3px

.btn-plain
  margin 0
  padding 0
  border 0
  background none

.curtain
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  background rgba(0,0,0,.6)
  content ''
  z-index 100
  transition .2s
  opacity 0
  visibility hidden
  &.down
    opacity .6
    visibility visible
    +above(3)
      opacity 0
      visibility hidden
.container-fluid
  padding 1em 3%
