.tour-image
  position relative
  min-height 300px
  width 100%
  background-size cover
  background-position center center

.main-title
  &.tour-title
    position absolute
    bottom 0
    background-color rgba(red($secondary), green($secondary), blue($secondary), .85)
    border-bottom 2px solid darken($secondary, 10%)

  width 100%

.stop-info
  span
  ul
    vertical-align middle

.seperator
  margin 0 2px
  color #CCC

.stop-number
  font-weight 400
  color $primary

.tour-stops
  .group
  .group-count
    color #999
    font-size 80%

.group-count
  margin-left 3px

$types = {
  '1' : 'a'
  '2' : 'v'
  '3' : 'm'
  '4' : 'p'
  '5' : 'l'
}

.media-types
  li
    &::before
      margin 0 1px
      font-family 'icons'
      font-size 90%
      content ''
      color #ccc
      font-smoothing antialiased
  for $type, $code in $types
    .type-{$type}
      &::before
        content $code

