.tour-type
  centerVertically()
  left -10px
  @extend .icon
  color $primary
  font-size 2em
  &.adult
    &::before
      content '1'
  &.family
    &::before
      content '2'

.tap-list-title
  &.tour-title
    padding-left 40px

.archived-tours
  .dates
    font-size 75%
    color darken($m-gray, 20%)

.tap-list
  .tour-title
    padding-left 65px
    +above(2)
      padding-left 70px
  .image
  .no-image
    position absolute
    left 4%
    top 5px
    bottom 5px
    height 50px
    width 50px
    background-position center center
    background-size cover
    border-radius 100%
  .no-image
    background $secondary
