// FONTS

$header-font = 'alternate-gothic-no-1-d'
$body-font = 'source-sans-pro'
$icon-font = 'icons'

// COLORS

$primary = #ED484C
$primary-light = lighten($primary, 30%)
$primary-dark = darken($primary, 30%)
$secondary = #6DBCDA
$secondary-light = lighten($secondary, 30%)
$secondary-dark = darken($secondary, 30%)

$l-gray = #f9f9f9
$m-gray = #CCC
$d-gray = #666

$border-gray = $m-gray

$body-text = #333

$confirm = rgba(103, 169, 104, 1)
$warning = rgba(240, 173, 78, 1)

$link-transition = .2s

// =======================================
// Vendor
// =======================================

// Rupture
rupture.scale = 0 400px 768px 1024px 1224px
rupture.enable-em-breakpoints = true


// Typographic
$myriad = 'myriad'

$line-height-ratio  = 1.75
$header-ratio       = $golden
$body-font          = $body-font
$body-font-weight   = 300
$body-color         = #666
$header-font        = $header-font
$header-font-weight = 500
$header-color       = #111
$min-font           = 13px
$max-font           = 22px
$min-width          = 600px
$max-width          = 1000px
$vertical-rhythm    = false

typographic()
