template(name="feedback")
  script.
    (function(t,e,s,n){var o,a,c;t.SMCX=t.SMCX||[],e.getElementById(n)||(o=e.getElementsByTagName(s),a=o[o.length-1],c=e.createElement(s),c.type="text/javascript",c.async=!0,c.id=n,c.src=["https:"===location.protocol?"https://":"http://","widget.surveymonkey.com/collect/website/js/tRaiETqnLgj758hTBazgdwnxdpIuc1hZiphunsxUVtRwgXv8G2hMGJZQR_2F_2BZ4Fdw.js"].join(""),a.parentNode.insertBefore(c,a))})(window,document,"script","smcx-sdk");

