template(name="thumbnail")
  if tour.thumbnail
    .image(style="background-image: url(#{awsUrl}/#{tour._id}/#{tour.thumbnail})")
      .tour-type(class="{{type}}")
  else
    .no-image
      .tour-type(class="{{type}}")
