template(name="thumbnail")
  if tour.thumbnail
    .image(style="background-image: url(//s3.amazonaws.com/tap-cma/#{tour._id}/#{tour.thumbnail})")
      .tour-type(class="{{type}}")
  else
    .no-image
      .tour-type(class="{{type}}")
