template(name="nav")
  nav.clearfix
    ul
      li
        a(href="{{pathFor 'currentTours'}}")
          i.fa.fa-list
          span Current
      li
        a(href="{{pathFor 'archivedTours'}}")
          i.fa.fa-archive
          span Archive
      li
        a(href="{{pathFor 'help'}}")
          i.fa.fa-info-circle
          span Help
    if currentUser
      ul.admin
        h3 Admin

        li
          a(href="{{pathFor 'feedback'}}")
            i.fa.fa-edit
            span Feedback

        li.admin
          a(href="{{pathFor 'createTour'}}")
            i.fa.fa-plus-square-o
            span Create Tour
        li.admin
          a(href="{{pathFor 'editTours'}}")
            i.fa.fa-edit
            span Edit Tour
        li.admin
          button.btn.sign-out
            span Sign Out
