template(name="admin")
  .main-title-wrap
    h1.main-title
      span Tours
      a(href="{{pathFor 'createTour'}}").btn.btn-default.btn-header
        i.fa.fa-plus-square-o
        span Create Tour

  ul.tap-edit-list.current-tours
    each tours
      li
        a.edit-tour(href="/admin/edit/#{_id}")
          span.title #{mainTitle}
          span.sub-title #{subTitle}
          if isFamily
            span.tour-type-icon.fa.fa-child
        .tour-edit-actions
          a.delete-tour(href="")
            i.fa.fa-trash
