head
  title Tap into CMA
  meta(name="viewport" content="width=device-width, initial-scale=1")

template(name="base")
  +yield

template(name="tours")
  h1 Tours:
  ul
    each tours
      {{log this}}
      li 
        h3 #{mainTitle} 
          span #{subTitle}
        span #{startDate} - #{endDate}
        stops {{countStops}}
  input(type="text")
  input(type="submit")
