head
  title Tap into CMA
  meta(name="viewport" content="width=device-width, initial-scale=1")
  script(src="//use.typekit.net/rvk0pii.js")
  script try{Typekit.load();}catch(e){}
template(name="base")
  +yield

template(name="tours")
  h1 Tours:
  ul
    each tours
      li
        a(href="tour/#{_id}")
          h3 #{mainTitle}
            span #{subTitle}
  input(type="text")
  input(type="submit")
