head
  title Tap into CMA
  meta(name="viewport" content="width=device-width, initial-scale=1")
  script(src="//use.typekit.net/rvk0pii.js")
  script try{Typekit.load();}catch(e){}
template(name="base")
  +header
  .main-content
    +yield
