template(name="createTour")
  .container
    .col-sm-6.col-sm-offset-3
      h1 Create a Tour
      +quickForm collection="Tours" id="createTour" type="insert"
    each files
      .progress
        .progress-bar(role="progressbar" aria-valuenow="{{ percent_uploaded }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ percent_uploaded }}%") {{ percent_uploaded }}
