template(name="header")
  header
    .header-wrap
      a(href="/")
        h1.logo TAP into CMA
      button.btn.back-btn(href="")
        i.fa.fa-chevron-circle-left
        span Back
      button.btn.menu-btn
        span Menu
      +offCanvasMenu
