template(name="header")
  header
    .header-wrap
      a(href="/")
        h1.logo TAP into CMA
      a.backBtn(href="")
        i.fa.fa-chevron-circle-left
        span Back
      .header-buttons
        button.btn.menu-btn Menu
      +offCanvasMenu
