template(name="header")
  header
    h1.menu-logo.center-logo
      a(href="/") TAP into CMA
    a.backBtn(href="")
      i.fa.fa-chevron-circle-left
      span Back
      //- h1.menu-logo
      //-   a(href="/") TAP into CMA
    a.btn.menu-btn(href="#") Menu
