head
  title Tap into CMA
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
  script(src="//use.typekit.net/rvk0pii.js")
  script try{Typekit.load();}catch(e){}

template(name="layout")
  .curtain(class="{{showCurtain}}")
  .page-wrap
    +header menuState=menuState
    .main-content
      +yield
