template(name="posterImage")
  if mediaIsVideo
    .row
      .col-sm-8
        +editMedia media=stop.posterImage label="Video Poster Image" tourID=stop.tour mediaType=mediaType typeName='posterImage' currentMediaType=stop.mediaType
        //- +fileUpload name="posterImage" label="Video Poster Image"
