template(name="childStops")
  h3.tap-edit-list--section-title Child Stops
  ul.edit-child-stops.list-unstyled
    each stop.children
      +editStop stop=this parentStopNumber=../stop.stopNumber
    unless addChild
      li.child.add-stop-link.add-child
        a.title
          i.fa.fa-plus-square
          span Add Child
